<h1>Heroes <small>Marvel y DC</small></h1>

<div class="card-columns">
  <div class="card card__borde" *ngFor="let heroe of heroes">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre" />
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">
        {{heroe.bio}}
      </p>
      <p class="card-text">
        <small class="text-muted"><strong>{{heroe.casa}}</strong> - {{heroe.aparicion}}</small>
      </p>
      <button class="btn btn-outline-success btn-block">Ver mas...</button>
    </div>
  </div>
</div>
